
<h1 style="margin:20px 0px 0px 40px"> Usuarios</h1>

<mat-card style="margin:20px 40px 40px 40px">

    <mat-card-title>
      
    </mat-card-title>

    <mat-divider></mat-divider>

    <mat-card-content class="dashboard-card-content">

        <mat-form-field appearance="standard">
            <mat-label>Buscar</mat-label>
            
        </mat-form-field>

        <div class="mat-elevation-z2">

           

            <mat-paginator [pageSizeOptions]="[5,10,20]" showFirstLastButtons>
            </mat-paginator>


        </div>


    </mat-card-content>

</mat-card>